.navbar-inverse {
  background: #364150 !important;
  border-color: #364150 !important;
}
.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
  color: #fff !important;
}
.heading {
  margin:0;
  display: inline-block;
  margin: 0;
  display: inline-block;
  margin-left: 50px;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 18px;
}
.main-box {
  margin-top: 30px;
}
table td a {
  color: #45b6af;
}
